<!--Assignemnt 3: Edit an Assignment Page
    Gabrielle Paguio
    100820990-->

<%- include ../partials/header.ejs %>
<%- include ../partials/nav_bar.ejs %>

<!-- content for edit page -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="post">
                <!-- form to fill out to edit an assignment -->
                <div class="form-group">
                    <label for="nameTextField">Assignemnt Name</label>
                    <input type="text" class="form-control"
                        id="nameTextField"
                        placeholder="Enter Assignment Name"
                        name="Name"
                        value="<%= assignment.Name %>"
                        required>
                </div>

                <div class="form-group">
                    <label for="classTextField">Class</label>
                    <input type="text" class="form-control"
                        id="classTextField"
                        placeholder="Enter Class Name"
                        name="Class"
                        value="<%= assignment.Class %>"
                        required>
                </div>
                
                <!-- make it a date and time-->
                <!-- to make a part not required, remove "value" and put it under "required" -->
                <div class="form-group">
                    <label for="dueTextField">Due Date</label>
                    <input type="text" class="form-control"
                        id="dueTextField"
                        placeholder="Enter Due Date"
                        name="Due"
                        value="<%= assignment.Due %>"
                        required>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>Submit</button>

                <a href = "/assignmentList" class="btn btn-warning">
                    <i class="fas fa-undo"></i>Cancel</a>
                <br>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>