<!--Assignemnt 3: Assignment Database
    Gabrielle Paguio
    100820990-->

<!-- display the assignment database -->
<%- include ../partials/header.ejs %>
<%- include ../partials/nav_bar.ejs %>
<main class="min-vh-100">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-15">
            <h1><%= title %></h1>
            <a href="/assignmentList/add", class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add an Assignemnt
            </a>
            <br>
            <br>
            <table class="table table-bordered table-striped table-hover table-dark table-responsive">
                <!-- table row -->
                <tr> <!-- class="d-flex" makes it worse -->
                    <!-- table headers -->  
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-4">Class</th>
                    <th class="text-center col-">Due Date</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>
                <!-- repeat template; td is table data -->
                <% for(let count=0; count<assignmentList.length; count++) 
                {
                    %>
                        <tr>
                            <td class="text-center col-1"><%= assignmentList[count].Name %></td>
                            <td class="text-center col-2"><%= assignmentList[count].Class %></td>
                            <td class="text-center col-1"><%= assignmentList[count].Due %></td>
                            <td class="text-center col-1">
                                <a href = "assignmentList/edit/<%= assignmentList[count]._id %>"
                                    // btn-primary makes button blue
                                    class="btn btn-primary">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </a>
                            </td>
                            <td class="text-center col-1">
                                <a href = "assignmentList/delete/<%= assignmentList[count]._id %>"
                                    // btn-danger makes button red
                                    class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                        </tr>
                    <%
                } %>
            </table>
        </div>
    </div>
  </div>
</main>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
