<!--Assignemnt 3: Assignment Database
    Gabrielle Paguio
    100820990-->

<!-- display the assignment database -->
<%- include partials/header.ejs %>
<%- include partials/nav_bar.ejs %>
<main class="min-vh-100">
  <div class="contianer">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- table row -->
                <tr> <!-- class="d-flex" makes it worse -->
                    <!-- table headers -->  
                    <th class="text-center col-1">Name</th>
                    <th class="text-center col-2">Class</th>
                    <th class="text-center col-1">Due Date</th>
                </tr>
                <!-- repeat template; td is table data -->
                <% for(let count=0; count<assignmentList.length; count++) 
                {
                    %>
                        <tr>
                            <td class="text-center col-1"><%= assignmentList[count].Name %></td>
                            <td class="text-center col-2"><%= assignmentList[count].Class %></td>
                            <td class="text-center col-1"><%= assignmentList[count].Due %></td>
                        </tr>
                    <%
                } %>
            </table>
        </div>
    </div>
  </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
